.DS_Store
node_modules
/dist
pre-commit.log

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

#Electron-builder output
/dist_electron

# Tools rejextion 
tools/setup*.exe 
tools/*.zip
tools/*.json
tools/output
tools/temp_install
tools/all_output
tools/exes
tools/new_game
tools/tmp/*

DID
.cert-env
/tmp
game_repacked
dlc_repacked
src/js/pe-parser/*.js
src/js/pe-parser/*/*.js
rva